<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.hse.meditation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HSEMeditationApp">
        <activity
            android:name=".ui.about.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.course.add.AddCourseActivity"
            android:exported="false"
            android:label="@string/add_course" />
        <activity
            android:name=".ui.course.create.CreateCourseActivity"
            android:exported="false"
            android:label="@string/create_course" />
        <activity
            android:name=".ui.course.change.ChangeCourseActivity"
            android:exported="false"
            android:label="@string/change_course" />
        <activity
            android:name=".ui.course.info.CourseInfoActivity"
            android:exported="false"
            android:label="@string/course_info" />
        <activity
            android:name=".ui.meditations.MeditationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.meditations.MeditationInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.course.theory.TheoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.history.edit.EditPracticeRecordActivity"
            android:exported="false"
            android:label="@string/edit_entry" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
